<div class="mega-menu">
  
  <link rel="stylesheet" href="/stylesheets/mega-menu.css" media="print" onload="this.media='all'">

  <div class="content-wrapper" role="navigation">
    <!-- There are no changes expected from this point down into the DOM -->
    <%= partial "data/#{ item }", locals: { gridClass: gridClass } %>
  </div>
</div>